.loader-icon {
  fill: #2ebd59;
  animation: resize 3s infinite;
  height: 100px;
  width: 100px;
  @media (max-width: 480px) {
    height: 60px;
    width: 60px;
  }
}

@keyframes resize {
  0% {transform: scale(1);}
  50% {transform: scale(0.4);}
  100% {transform: scale(1);}
}