.login-page-main-container {
  display: flex;
  min-height: 50vh;
  flex: 1;
  flex-direction: column;  
  justify-content: center; 
    
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }  
}


