.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  color: white;
  background-color: black;
}

.header-logo-cont {
  position: absolute;
  left: 1em;
  display: flex;
  align-items: center;
  justify-content: flex-start;

}

@media (max-width: 480px) {
  .header {
    flex-wrap: wrap;
    gap: 1em;
  }

  .header-logo-cont {
    position: static;
    width: 100%;
    flex: none;
    justify-content: center;
  }
}

.header-logo {
  height: 2.5em;
}

@media (max-width: 620px) {
  .header-logo {
    height: 1.8em;
  }
}
