.artist-info {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 1em;
  gap: 1em;
  width: 28em;
  color: white; 
  background-color: rgb(40, 40, 40);
  &:hover {
    outline: white solid 2px;
  }

  @media (max-width :560px) {
    width: 24em;
  }


  @media (max-width :480px) {
    width: 20em;
  }

  @media (max-width :400px) {
    width: 16em;
    gap: 0.5em;
    padding: 0.5em;
  }

  .artist-image {
    width: 15em;
    height: 15em;
    object-fit: cover;
    border-radius: 50%;
    
    @media (max-width : 560px ){
      width: 10em;
      height: 10em;
    }

    @media (max-width : 480px ){
        width: 7em;
        height: 7em;
    }
  }
  
  .info-list {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  
    .artist-name {
      font-size: 24px;
    
      @media (max-width :480px) {
        font-size: 16px;
      }
    }
    
    .artist-popularity {
      display: flex;
      gap: 0.5em;

      @media (max-width :480px) {
        font-size: 12px;
      }
    
    }
    
    .artist-followers-num {
      @media (max-width :480px) {
        font-size: 12px;
      }
    }
  }
}

