.artist-item-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 1em;
  gap: 1em;
  width: 28em;
  color: white; 
  background-color: rgb(40, 40, 40);
  &:hover {
    outline: white solid 2px;
  }

  @media (max-width :560px) {
    width: 24em;
  }
  @media (max-width :480px) {
    width: 20em;
  }
  @media (max-width :400px) {
    width: 16em;
    gap: 0.5em;
    padding: 0.5em;
  }

  .artist-image-container {
    width: 240px;
    height: 240px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 50%;

    @media (max-width : 560px ){
      width: 180px;
      height: 180px;
    }
    @media (max-width : 480px ){
      width: 124px;
      height: 124px;
    }
  }
  
  .info-list {
    max-width: 180px;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  
    @media (max-width: 480px) {
      max-width: 120px;
    }

    .artist-name {
      font-size: 24px;
    
      @media (max-width :480px) {
        font-size: 16px;
      }
    }
    
    .artist-popularity {
      display: flex;
      gap: 0.5em;

      @media (max-width :480px) {
        font-size: 12px;
      }
    }
    
    .artist-followers-num {
      @media (max-width :480px) {
        font-size: 12px;
      }
    }
  }
}

