.artist-info-main-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 16px 8px;
}

.no-matches-message {
  margin: 64px auto;
  text-align: center;
  color: white;
}


