.album-container {
  display: flex;
  align-items: center;
  color: white;
    
  .album-image {
    width: 5em;
    border-radius: 50%;
  }

  .album-info {
    display: flex;
    flex-direction: column;
    padding-left: 0.5em;
    row-gap: 0.25em;
  }
}



