@import '../../styles/mixins.scss';

.user-menu-container {
  position: relative;
  flex: 1;
  @include baseFlexStyle;
  flex-direction: column;
  align-items: flex-end;

  @media (max-width: 480px) {
    flex: none;
  }

  .user-info-container {
    @include baseFlexStyle;
    justify-content: flex-start;
    gap: 0.5em;
    padding: 4px 16px 4px 4px; 
    border-radius: 18px;
    font-weight: 500;
    cursor: pointer;
    &:hover {
      background-color: rgb(75, 75, 75);
      color: rgb(16, 187, 64);
    }

    @media (max-width: 560px) {
      padding: 0;
    }
    
    .profile {
      &.active {
        color: rgb(16, 187, 64);
      }
      @media (max-width: 560px) {
        display: none;
      }
    }

    .user-image-container {
      width: 42px;
      height: 42px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      border-radius: 50%;
    }  
  }

  .menu-container{
    position : absolute;
    top: 60px;
    @include baseFlexStyle;
    flex-direction: column;
    
    width: 10em;
    padding: 0.2em 0.2em;
    background-color: rgb(75, 75, 75);
    border-radius: 8px;
  
    .user-name {
      padding: 4px 0;
      color: rgb(185, 184, 184);
      font-weight: 600;
      border-bottom: 2px solid rgb(63, 63, 63);
    }

    .user-menu-actions {
      padding: 32px 4px;
      width: 100%;

      .log-out {
        cursor: pointer;
        width: 100%;
        padding: 0.25em 0em;
        text-align: center;
        border-radius: 3px;     
        &:hover {
          background-color: grey;
        }  
      } 
    }  
  }    
}