@import '../../index.scss';
@import '../../styles/mixins.scss';

.search-field-container{
  flex: 1;
  @include baseFlexStyle;
  justify-content: center;
  
  @media (max-width : 372px) {
    order: 1;
  }

  .search-field {
    width: 18em;
    height: 2em;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 14px;
    outline: none;
    text-indent: 2.3em;
    font-family: $mainFontFamily ;
    background-image: url('../../assets/magnifier-icon.svg');
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 10px 6px ;
    &::-webkit-search-cancel-button {
      display: none;
    }

    @media (max-width : 620px)  {
      width: 13em;
    }
  }
}




    


